In [19]:
import pandas as pd
from dotenv import dotenv_values
import sqlalchemy
import psycopg2

needed_keys = ['host', 'port', 'database','user','password']
dotenv_dict = dotenv_values(".env")
sql_config = {key:dotenv_dict[key] for key in needed_keys if key in dotenv_dict}

engine = sqlalchemy.create_engine('postgresql://user:pass@host/database',
        connect_args=sql_config
        )

In [20]:
# Data directory used to store CVS files
data_dir = './data/'

# Load EXIF dataframe from CVS file
df = pd.read_csv(data_dir + 'df_photo_exif_cleaned.csv', index_col=[0])

In [21]:
# Data types
df['id'] = df['id'].astype(int)
df['aperture'] = pd.to_numeric(df['aperture'])
df['iso_speed'] = pd.to_numeric(df['iso_speed'])
df.date_and_time = pd.to_datetime(df.date_and_time, format='%Y-%m-%d %H:%M:%S', errors='coerce')
df.date_and_time_modified = pd.to_datetime(df.date_and_time_modified, format='%Y-%m-%d %H:%M:%S', errors='coerce')
df.date_and_time_digitized = pd.to_datetime(df.date_and_time_digitized, format='%Y-%m-%d %H:%M:%S', errors='coerce')
df.lat, df.lon = df.lat.astype(float), df.lon.astype(float)
df['focal_length'] = pd.to_numeric(df['focal_length'])
df['acc'] = pd.to_numeric(df['acc'])
df['compression'] = df['compression'].astype('string')
df['make'] = df['make'].astype('string')
df['model'] = df['model'].astype('string')
df['software'] = df['software'].astype('string')
df['exposure'] = df['exposure'].astype('string')
df['flash'] = df['flash'].astype('string')
df['white_balance'] = df['white_balance'].astype('string')
df['user_id'] = df['user_id'].astype('string')
df['secret'] = df['secret'].astype('string')
df['country'] = df['country'].astype('string')
df['admin_lvl1'] = df['admin_lvl1'].astype('string')
df['admin_lvl2'] = df['admin_lvl2'].astype('string')
df['city'] = df['city'].astype('string')

In [40]:
df[df['date_and_time'] > '2024']

,index,id,compression,make,model,software,date_and_time_modified,exposure,aperture,iso_speed,...,secret,title,lat,lon,acc,country,admin_lvl1,admin_lvl2,city,continent
15720,15720,53173707418,JPEG (old-style),Canon,Canon EOS R7,Windows Photo Editor 10.0.10011.16384,2023-09-07 16:53:52,1/8000,6.3,12800.0,...,5e10d3eec1,FUTEBOL DE CAMPO - 7 DE SETEMBRO - FOTO BY PIL...,NaN,NaN,NaN,<NA>,<NA>,<NA>,<NA>,NaN
15721,15721,53173658275,JPEG (old-style),Canon,Canon EOS R7,Windows Photo Editor 10.0.10011.16384,2023-09-07 17:09:16,1/5000,6.3,12800.0,...,e97b96b113,FUTEBOL DE CAMPO - 7 DE SETEMBRO - FOTO BY PIL...,NaN,NaN,NaN,<NA>,<NA>,<NA>,<NA>,NaN
15722,15722,53173421009,JPEG (old-style),Canon,Canon EOS R7,Windows Photo Editor 10.0.10011.16384,2023-09-07 17:10:45,1/5000,6.3,12800.0,...,448851b2fa,FUTEBOL DE CAMPO - 7 DE SETEMBRO - FOTO BY PIL...,NaN,NaN,NaN,<NA>,<NA>,<NA>,<NA>,NaN
15723,15723,53173219076,JPEG (old-style),Canon,Canon EOS R7,Windows Photo Editor 10.0.10011.16384,2023-09-08 10:36:35,1/8000,5.6,12800.0,...,9f2bd03d9f,FUTEBOL DE CAMPO - 7 DE SETEMBRO - FOTO BY PIL...,NaN,NaN,NaN,<NA>,<NA>,<NA>,<NA>,NaN
15724,15724,53173658125,JPEG (old-style),Canon,Canon EOS R7,Windows Photo Editor 10.0.10011.16384,2023-09-07 17:14:31,1/8000,5.6,12800.0,...,7785f4df64,FUTEBOL DE CAMPO - 7 DE SETEMBRO - FOTO BY PIL...,NaN,NaN,NaN,<NA>,<NA>,<NA>,<NA>,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324895,324895,53194766374,<NA>,Canon,Canon PowerShot G5 X Mark II,<NA>,NaT,1/1600,4.5,125.0,...,858b042656,World's Largest Rubber Duck Returns to Toronto,43.641013,-79.373574,14.0,Canada,Ontario,Toronto,Toronto,North America
324896,324896,53195158505,<NA>,Canon,Canon PowerShot G5 X Mark II,<NA>,NaT,1/1600,5.6,125.0,...,8f1ceb02ab,World's Largest Rubber Duck Returns to Toronto,43.641013,-79.373574,14.0,Canada,Ontario,Toronto,Toronto,North America
324897,324897,53195158355,<NA>,Canon,Canon PowerShot G5 X Mark II,<NA>,NaT,1/1600,7.1,125.0,...,55f2f30426,World's Largest Rubber Duck Returns to Toronto,43.641013,-79.373574,14.0,Canada,Ontario,Toronto,Toronto,North America
328920,328920,5148073739,JPEG (old-style),Samsung Techwin,"<Samsung NV3, Samsung VLUU NV3>",703021,2050-11-10 10:08:12,1/125,3.5,80.0,...,5e43c8662d,"Bumms mal wieder BMW, Ampelmännchen",43.780420,11.272573,13.0,Italy,Toscana,Città Metropolitana di Firenze,Firenze,Europe
350408,350408,53203492694,<NA>,Canon,Canon PowerShot G10,Adobe Photoshop 2022 Windows,2023-09-21 15:33:19,1/1250,4.0,100.0,...,f79295b6bb,Medio día,39.993199,-0.039664,16.0,Spain,Comunidad Valenciana,Castelló,Castelló de la Plana,Europe

In [26]:
df['user_id'].value_counts().sort_values(ascending=False)

123597211@N03    5266
151639852@N07    2713
133876835@N08    1186
71296413@N02     1140
91044419@N08     1135
                 ...
199075095@N02       1
189246357@N03       1
94118614@N06        1
40935055@N02        1
158928162@N07       1
Name: user_id, Length: 53224, dtype: Int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365127 entries, 0 to 365126
Data columns (total 26 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   index                    365127 non-null  int64
 1   id                       365127 non-null  int64
 2   compression              258898 non-null  string
 3   make                     300271 non-null  string
 4   model                    300504 non-null  string
 5   software                 287517 non-null  string
 6   date_and_time_modified   307267 non-null  datetime64[ns]
 7   exposure                 294586 non-null  string
 8   aperture                 293263 non-null  float64
 9   iso_speed                293729 non-null  float64
 10  date_and_time            302390 non-null  datetime64[ns]
 11  date_and_time_digitized  299969 non-null  datetime64[ns]
 12  flash                    292258 non-null  string
 13  focal_length             292990 non-null  float64
 14  white_balance            290995 non-null  string
 15  user_id                  365127 non-null  string
 16  secret                   365127 non-null  string
 17  title                    361125 non-null  object
 18  lat                      212852 non-null  float64
 19  lon                      212852 non-null  float64
 20  acc                      212852 non-null  float64
 21  country                  209478 non-null  string
 22  admin_lvl1               203670 non-null  string
 23  admin_lvl2               167104 non-null  string
 24  city                     191991 non-null  string
 25  continent                207795 non-null  object
dtypes: datetime64[ns](3), float64(6), int64(2), object(2), string(13)
memory usage: 75.2+ MB

In [9]:
# Schema used for our capstone project
schema = 'capstone_jorittega'

# Table name
table_name = 'photo_exif'

In [10]:
# Write records stored in a dataframe to SQL database
if engine!=None:
    try:
        df.to_sql(name=table_name, # Name of SQL table variable
                        con=engine, # Engine or connection
                        schema=schema, # your class schema variable
                        if_exists='replace', # Drop the table before inserting new values 
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None
else:
    print('No engine')

The photo_exif table was imported successfully.

### Adding camera top 100 list to db

In [11]:
df_cameras_top = pd.read_csv('data/df_cameras_top.csv', delimiter=';')
df_cameras_top = df_cameras_top.drop('Unnamed: 0', axis=1)
df_cameras_top.semiprof = df_cameras_top.semiprof.astype(bool)

In [12]:
df_cameras_top.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   model     100 non-null    object
 1   make      100 non-null    object
 2   count     100 non-null    int64
 3   type      100 non-null    object
 4   semiprof  100 non-null    bool
dtypes: bool(1), int64(1), object(3)
memory usage: 3.3+ KB

In [17]:
df_cameras_top['count'].sum()

171397

In [18]:
171397 / 365127 * 100

46.941749035267186

In [13]:
# Schema used for our capstone project
schema = 'capstone_jorittega'

# Table name
table_name = 'camera_top100'

In [14]:
# Write records stored in a dataframe to SQL database
if engine!=None:
    try:
        df_cameras_top.to_sql(name=table_name, # Name of SQL table variable
                        con=engine, # Engine or connection
                        schema=schema, # your class schema variable
                        if_exists='replace', # Drop the table before inserting new values 
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None
else:
    print('No engine')

The camera_top100 table was imported successfully.